table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1rem;
}
body {
    max-height: 600px;
}
td {
    background-color: rgb(220, 232, 232);
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.window {
    position: relative;
    width: 100%;
    height: 100%;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    
    /* 임시 지정 */
    width: 30%;
    height: 50%;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}
.show .popup {
    transform: translate(-50%, -20%);
    transition: all .5s;
}
.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}


.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(103, 100, 100);
    border-radius: 0.6em;
    color: rgb(12, 1, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 95%; /* 창의 너비에 따라 조정할 수 있습니다. */
    max-width: 400px; /* 버튼의 최대 너비를 지정합니다. */
    position: fixed;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);

    &:hover,
    &:focus {
      color: #171616;
      font-weight: bold;
      outline: 0;
    }
}
#submit {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(176, 172, 172) inset;
    }
}
.btn2 {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(103, 100, 100);
    border-radius: 0.6em;
    color: rgb(12, 1, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 95%; /* 창의 너비에 따라 조정할 수 있습니다. */
    max-width: 400px; /* 버튼의 최대 너비를 지정합니다. */
    position: fixed;
    top: 84%;
    left: 45%;
    transform: translate(-50%, -50%);

    &:hover,
    &:focus {
      color: #171616;
      font-weight: bold;
      outline: 0;
    }
}
#close {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(176, 172, 172) inset;
    }
}
.btn3 {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(103, 100, 100);
    border-radius: 0.6em;
    color: rgb(12, 1, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 95%; /* 창의 너비에 따라 조정할 수 있습니다. */
    max-width: 400px; /* 버튼의 최대 너비를 지정합니다. */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &:hover,
    &:focus {
      color: #171616;
      font-weight: bold;
      outline: 0;
    }
}

#show {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(176, 172, 172) inset;
    }
}
.contact_form {text-align: center; margin: 0 auto; width: 90%; padding: 0.5em 0.8em;}
.contact_form > div {position: relative; width: 100%;}
.contact_form > div input {width: 100%; height: 42px; margin: 10px 0; border: 0.3px solid #848082; box-sizing: border-box; border-radius: 5px; padding: 0 1.4em; outline: none !important;}
.contact_form > div label {position: absolute; top: -1.8em; left: 0; margin: 1.9em 2em 2em 1em; background-color: white; padding: 0 8px;  color: #030303;}

.badge {
    display: inline-block;
    padding: 4px 8px;
    background-color: gold;
    color: black;
    border-radius: 50%;
}
.table-center {
    width: 850px; /* 너비 설정 */
    height: 600px; /* 높이 설정 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: scroll;
    white-space: nowrap;
}
.nav-title {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.createGame {
    flex: 1;
    width: 300px;
}

.game-table {
    flex: 2;
    width: 100%;
}
.game-btn {
    width: 80%;
    height: 70px;
    margin-top: 10%;
    border: 2px solid rgb(103, 100, 100);
    border-radius: 0.6em;
    color: rgb(12, 1, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}
.game-btn:hover,
.game-btn:focus {
    color: #171616;
    font-weight: bold;
    outline: 0;
}
@media (max-width: 600px) {
    body {
        font-size: 5px;
    }
    .table-center {
        width: 100%;
        height: 3%;
        top: unset;
        left: 0;
        transform: none;
        overflow-x: scroll;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
    }
    .teamScore {
        width: 100%;
        height: 3%;
        top: unset;
        left: 0;
        transform: none;
        overflow-x: scroll;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        white-space: nowrap;
    }
    .container {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    
    .createGame {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        border: 0.5px solid black;
    }
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .game-table {
        flex: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 0.5px solid black;
    }
    .check {
        font-size: 17px;
    }
    .gameName {
        height: 25px;
    }
    .game-btn {
        background: rgb(215, 212, 213);
        background: radial-gradient(circle, rgb(85, 83, 84) 0%, rgb(204, 207, 210) 100%);
        line-height: 42px;
        padding: 0;
        border: none;
    }
    .game-btn span {
        position: relative;
        display: block;
        width: 100%;
        height: 60%;
    }
    .game-btn:before,
    .game-btn:after {
        position: absolute;
        content: "";
        height: 0%;
        width: 1px;
        box-shadow:
        -1px -1px 20px 0px rgba(255,255,255,1),
        -4px -4px 5px 0px rgba(255,255,255,1),
        7px 7px 20px 0px rgba(0,0,0,.4),
        4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .game-btn:before {
        right: 0;
        top: 0;
        transition: all 500ms ease;
    }
    .game-btn:after {
        left: 0;
        bottom: 0;
        transition: all 500ms ease;
    }
    .game-btn:hover{
        background: transparent;
        color: #467aba;
        box-shadow: none;
    }
    .game-btn:hover:before {
        transition: all 500ms ease;
        height: 100%;
    }
    .game-btn:hover:after {
        transition: all 500ms ease;
        height: 100%;
    }
    .game-btn span:before,
    .game-btn span:after {
        position: absolute;
        content: "";
        box-shadow:
        -1px -1px 20px 0px rgba(255,255,255,1),
        -4px -4px 5px 0px rgba(255,255,255,1),
        7px 7px 20px 0px rgba(0,0,0,.4),
        4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .game-btn span:before {
        left: 0;
        top: 0;
        width: 0%;
        height: .5px;
        transition: all 500ms ease;
    }
    .game-btn span:after {
        right: 0;
        bottom: 0;
        width: 0%;
        height: .5px;
        transition: all 500ms ease;
    }
    .game-btn span:hover:before {
        width: 100%;
    }
    .game-btn span:hover:after {
        width: 100%;
    }
    
    .game-btn2 {
        background: rgb(215, 212, 213);
        background: radial-gradient(circle, rgb(85, 83, 84) 0%, rgb(204, 207, 210) 100%);
        line-height: 42px;
        padding: 0;
        border: none;
        width: 100%;
    }
    .game-btn2 span {
        position: relative;
        display: block;
        width: 100%;
        height: 60%;
    }
    .game-btn2:before,
    .game-btn2:after {
        position: absolute;
        content: "";
        height: 0%;
        width: 1px;
        box-shadow:
        -1px -1px 20px 0px rgba(255,255,255,1),
        -4px -4px 5px 0px rgba(255,255,255,1),
        7px 7px 20px 0px rgba(0,0,0,.4),
        4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .game-btn2:before {
        right: 0;
        top: 0;
        transition: all 500ms ease;
    }
    .game-btn2:after {
        left: 0;
        bottom: 0;
        transition: all 500ms ease;
    }
    .game-btn2:hover{
        background: transparent;
        color: #467aba;
        box-shadow: none;
    }
    .game-btn2:hover:before {
        transition: all 500ms ease;
        height: 100%;
    }
    .game-btn2:hover:after {
        transition: all 500ms ease;
        height: 100%;
    }
    .game-btn2 span:before,
    .game-btn2 span:after {
        position: absolute;
        content: "";
        box-shadow:
        -1px -1px 20px 0px rgba(255,255,255,1),
        -4px -4px 5px 0px rgba(255,255,255,1),
        7px 7px 20px 0px rgba(0,0,0,.4),
        4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .game-btn2 span:before {
        left: 0;
        top: 0;
        width: 0%;
        height: .5px;
        transition: all 500ms ease;
    }
    .game-btn2 span:after {
        right: 0;
        bottom: 0;
        width: 0%;
        height: .5px;
        transition: all 500ms ease;
    }
    .game-btn2 span:hover:before {
        width: 100%;
    }
    .game-btn2 span:hover:after {
        width: 100%;
    }
    .btn3 {
        position: absolute;
        bottom: unset;
        margin-left: 0%;
    }
    .nav-title {
        text-align: center;
        font-size: 10px;
    }
    .scoreboardSection {
        position: relative; 
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: white;
        list-style: none;
        border: 1;
    }
    .main-tr {
        background-color: gray;
    }
    .team-tr {
        background-color: gray;
    }
    .section-btn{
        background-color: transparent;
        border: 1;
    }
    .popup {
        width: 80%;
        height: 425px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ceremony {
        display: flex;
        flex-direction: row;
    }
    table {
        table-layout: fixed;
      }
      
      td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .total_ceremony,
    .grade1_side,
    .avg_side,
    .game_setting {
        flex: 1;
        width: 200px;
    }
}
@media (min-width: 601px) {
    /* 데스크톱 화면에 대한 스타일 지정 */
    body {
        font-size: 16px;
    }
}